.profile-card-wrapper {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
}

.user-avatar {
  width: 20%;
  height: 60%;
  object-fit: contain;
  margin-right: 5%;
}

.title {
  font-weight: bold;
  font-size: 1rem;
}

.description {
  color: var(--secondary);
  font-weight: 400;
  font-size: 0.8rem;
}
